src/main/mule/file-4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="21171558-e6c6-4fea-bc20-54220c9bd5a9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="file-4Flow" doc:id="e424012d-6356-405f-8a5b-fbd83c3403ed" >
		<http:listener doc:name="Listener" doc:id="73e9dbe6-8295-491b-9030-1b0e371218b0" config-ref="HTTP_Listener_config" path="/file" allowedMethods="GET"/>
		<file:move doc:name="Move" doc:id="ca83119d-07c2-4006-baf4-3354a7f4712e" sourcePath="D:\workspace-4.0\file-4\src\main\resources\input" targetPath="D:\workspace-4.0\file-4\src\main\resources\output"/>
		<logger level="INFO" doc:name="Logger" doc:id="d7c29ab3-a06f-48db-bb98-fb611781a40e" message="#[payload]"/>
	</flow>
</mule>
